tests/testtuples
exercices/projectiles
tests/tcanvas
tests/tmatrices
res/
exercices/matrices
tests/ttransformations
exercices/clock
tests/trays
tests/tspheres
tests/tintersections
exercices/rays
tests/tmaterials
exercices/rays3d
